psycopg2==2.8.4
psycopg2-binary==2.8.4
python3-xlib==0.15
pyunitreport==0.1.4
requests==2.24.0
selenium==3.141.0
robotframework==3.2.1
robotframework-jsonvalidator==2.0.0
robotframework-datadriver==0.3.6
robotframework-jsonlibrary==0.3.1
robotframework-seleniumlibrary==4.4.0
robotframework-seleniumtestability
robotframework-requests
docutils
